<?xml version='1.0' encoding='utf-8'?>

<odoo>
    
    <!-- This Menu Item will appear in the Upper bar, that's why It needs NO parent or action -->
    <menuitem id="alstore_menu_root" 
              name="Shoes Store" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="alstore_sepatu_menu_categ" 
              name="Sepatu" 
              parent="alstore_menu_root" 
              sequence="10"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="alstore_brand_menu_categ" 
              name="Merek" 
              parent="alstore_menu_root" 
              sequence="10"/>

    <!-- This Menu Item Must have a parent -->
    <menuitem id="alstore_pegawai_menu_categ" 
              name="Pegawai" 
              parent="alstore_menu_root" 
              sequence="20"/>
    
    <!-- This Menu Item Must have a parent -->
    <menuitem id="alstore_transaksi_menu_categ" 
              name="Transaksi" 
              parent="alstore_menu_root" 
              sequence="42"/>
</odoo> 